<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Divide & Conquer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a routerLink="register" routerLinkActive="active" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="saveuseritem" routerLinkActive="active" class="nav-link">Save User Items</a>
                </li>
                <li class="nav-item">
                    <a routerLink="shares" routerLinkActive="active" class="nav-link">View Each Shares</a>
                </li>

            </ul>

        </div>
    </div>
</nav>



<router-outlet></router-outlet>

<footer class="footer">
    <div class="container">
        <span>All Rights Reserved 2023 @Divide&Conquer (Developed By Nayan)</span>
    </div>
</footer>